<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card shadow-lg">
      <div class="card-header text-center">
        <h2>Login</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">
                  <b>Email</b>
                </label>
                <input type="email" class="form-control" />
              </div>
            </div>
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="email">
                <b>Senha</b>
              </label>
              <input type="email" class="form-control" />
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <button class="btn btn-primary my-2 w-100">
              Entrar
              <i class="ni ni-send ml-2" *ngIf="!isLoading"></i>
              <i class="fas fa-spinner" *ngIf="isLoading"></i>
            </button>
          </div>
          
        </form>
      </div>
      <div class="card-footer">
        <div class="col-md-10 offset-md-1 text-center">
          <span>Esqueci minha senha</span>
          <span routerLink="/create-account" class="mx-5">Sou novo por aqui</span>
        </div>
        
      </div>
    </div>
  </div>
</div>
