<nav class="d-flex flex-column navbar navbar-horizontal navbar-expand-lg navbar-dark bg-primary shadow-lg">
  <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fas fa-hamburger" ></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
          <div class="navbar-collapse-header">
              <div class="row">
                  <div class="col-6 collapse-brand">
                      <a href="javascript:void(0)">
                          <img src="../../assets-old/img/brand/blue.png">
                      </a>
                  </div>
                  <div class="col-6 collapse-close">
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                          <span></span>
                          <span></span>
                      </button>
                  </div>
              </div>
          </div>
          
          <ul class="navbar-nav ml-lg-auto">
              <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="#">
                    <i class="fas fa-user"></i>
                      <span class="nav-link-inner--text d-lg-none">Perfil</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="#">
                    <i class="fas fa-cog"></i>
                      <span class="nav-link-inner--text d-lg-none">Configurações</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="#">
                  <i class="fas fa-bell"></i>
                    <span class="nav-link-inner--text d-lg-none">Alertas</span>
                </a>
            </li>
          </ul>
      </div>
  </div>
</nav>