<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h2>
          <b>Criar conta gratuita</b>
        </h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">Nome completo</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">Seu email</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">Senha</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">Confirme a senha</label>
                <input type="email" class="form-control" />
              </div>
            </div>
            <div class="col-md-10 offset-md-1 text-center my-2">
              <button class="btn btn-primary w-100 my-2">
                Criar conta
                <i class="ni ni-send ml-2"></i>
              </button>
              <span>Já sou cadastrado</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
