<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card shadow-lg">
      <div class="card-header text-center">
        <h2>
          <b>Criar conta gratuita</b>
        </h2>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="validateForm()">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="name">
                  <b>Nome completo</b>
                  <i class="fas fa-check-circle text-primary ml-2" *ngIf="form.controls['name'].dirty && form.controls['name'].valid"></i>
                  <i class="fas fa-exclamation-circle text-warning ml-2" *ngIf="form.controls['name'].dirty && form.controls['name'].invalid"></i>
                  <i class="fas fa-asterisk text-warning ml-2" *ngIf="form.controls['name'].pristine && submited"></i>
                </label>
                <input type="text" class="form-control" formControlName="name"/>
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">
                  <b>Seu email</b>
                  <i class="fas fa-check-circle text-primary ml-2" *ngIf="form.controls['email'].dirty && form.controls['email'].valid"></i>
                  <i class="fas fa-exclamation-circle text-warning ml-2" *ngIf="form.controls['email'].dirty && form.controls['email'].invalid"></i>
                  <i class="fas fa-asterisk text-warning ml-2" *ngIf="form.controls['email'].pristine && submited"></i>
                </label>
                <input type="email" class="form-control" formControlName="email"/>
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="password">
                  <b>Senha</b>
                  <i class="fas fa-check-circle text-primary ml-2" *ngIf="form.controls['password'].dirty && form.controls['password'].valid"></i>
                  <i class="fas fa-exclamation-circle text-warning ml-2" *ngIf="form.controls['password'].dirty && form.controls['password'].invalid"></i>
                  <i class="fas fa-asterisk text-warning ml-2" *ngIf="form.controls['password'].pristine && submited"></i>
                </label>
                <input type="password" class="form-control" formControlName="password"/>
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label for="email">
                  <b>Confirme a senha</b>
                  <i class="fas fa-check-circle text-primary ml-2" *ngIf="form.controls['confirmPass'].dirty && form.controls['confirmPass'].valid"></i>
                  <i class="fas fa-exclamation-circle text-warning ml-2" *ngIf="form.controls['confirmPass'].dirty && form.controls['confirmPass'].invalid"></i>
                  <i class="fas fa-asterisk text-warning ml-2" *ngIf="form.controls['confirmPass'].pristine && submited"></i>
                </label>
                <input type="email" class="form-control" formControlName="confirmPass"/>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 text-center my-2">
              <button class="btn btn-primary w-100 my-2">
                Criar conta
                <i class="ni ni-send ml-2" *ngIf="!isLoading"></i>
                <i class="fas fa-spinner" *ngIf="isLoading"></i>
              </button>
              <span routerLink="/login">Já sou cadastrado</span>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
