<div class="row my-5 mx-4">
  <div class="col-md-3">
    <app-card-buttons
      [label]="'Produtos'"
      [icon]="'fas fa-hamburger'"
    ></app-card-buttons>
  </div>
  <div class="col-md-3">
    <app-card-buttons
      [label]="'Categorias'"
      [icon]="'fas fa-book'"
    ></app-card-buttons>
  </div>
  <div class="col-md-3">
    <app-card-buttons routerLink="my-store"
      [label]="'Minha loja'"
      [icon]="'fas fa-store'"
    ></app-card-buttons>
  </div>
  <div class="col-md-3">
    <app-card-buttons
      [label]="'Minhas vendas'"
      [icon]="'fas fa-scroll'"
    ></app-card-buttons>
  </div>
  <div class="col-md-3">
    <app-card-buttons
      [label]="'Meus clientes'"
      [icon]="'fas fa-female'"
    ></app-card-buttons>
  </div>
</div>