<ng-container *ngIf="address.length == 0">
  <div class="row my-2">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-warning text-center" role="alert">
        <strong>Você não possui endereço cadatrado!</strong> 
        <a href="#/addresses" class="text-danger mx-2">clique aqui</a>
      </div>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h6>Vendas realizadas</h6>
        <h1>0</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h6>Clientes atendidos</h6>
        <h1>0</h1>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h6>Lucro total</h6>
        <h1>0</h1>
      </div>
    </div>
  </div>
</div>